$font-family : 'Roboto', sans-serif;

/* Color Pallete */

$aqua   : #0CE3D9;
$blue   : #0D9CCC;
$red    : #FF3333;
$lt-red : #ee0000;
$green : #2AD438;
$offwhite : #EBF2F2;
$grey     : #333;
$lt-grey  : #ccc;
$vlt-grey : #eee;

@import "resources/assets/sass/app/bootstrap-variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700);
@import "resources/assets/sass/app/main";
@import "resources/assets/sass/app/bootstrap";

@import "node_modules/jquery-ui/themes/base/core";

@import "node_modules/jquery-ui/themes/base/accordion";
@import "node_modules/jquery-ui/themes/base/autocomplete";
@import "node_modules/jquery-ui/themes/base/button";
@import "node_modules/jquery-ui/themes/base/checkboxradio";
@import "node_modules/jquery-ui/themes/base/controlgroup";
@import "node_modules/jquery-ui/themes/base/datepicker";
@import "node_modules/jquery-ui/themes/base/dialog";
@import "node_modules/jquery-ui/themes/base/draggable";
@import "node_modules/jquery-ui/themes/base/menu";
@import "node_modules/jquery-ui/themes/base/progressbar";
@import "node_modules/jquery-ui/themes/base/resizable";
@import "node_modules/jquery-ui/themes/base/selectable";
@import "node_modules/jquery-ui/themes/base/selectmenu";
@import "node_modules/jquery-ui/themes/base/sortable";
@import "node_modules/jquery-ui/themes/base/slider";
@import "node_modules/jquery-ui/themes/base/spinner";
@import "node_modules/jquery-ui/themes/base/tabs";
@import "node_modules/jquery-ui/themes/base/tooltip";
@import "node_modules/jquery-ui/themes/base/theme";


/* Page Specific */

/* Privacy Policy & Terms of Use */
#privacy-policy h1,
#terms-of-use h1 {
  margin: 10px 0px 10px 0px;
}

#terms-of-use > .panel-body header,
#privacy-policy .panel-body > header {
  font-weight: bold;
}

.job-summary-panel {
  h1 {
    margin: 0px;
    font-size: 1.5em;
    display:inline;
  }

  .result-count {
    margin-left: 5px;
    font-size: 1.2em;
  }
}

.job-summary-sidebar {
  h2 {
    margin: 0px;
    font-size: 1.5em;
  }

  .control-label, .submit {
    margin: 5px 0px 0px 0px;
  }
}

.job-summary {
  padding: 10px 0px 10px 0px;

  h2 {
    margin: 0px 0px 5px 0px;
  }
  p {
    margin:0 0 5px;
  }

  .job-status-btn {
    width: 100px;
  }
}

/* Login */

#login {
  .btn, .btn:visited {
    color: $offwhite;
  }

  .btn:hover, .btn:focus .btn.focus {
    color: white;
  }
}

/* User Resumes */

.resume,.cover-letter {
  .panel-heading h1 {
    margin: 0px;
  }

  .panel-body {
    position: relative;
  }

  a {
    color: $blue;
  }

  a:visited {
    color: $blue;
  }

  a:hover {
    color: $aqua;
  }

  a.active-default {
    color: $green;
  }

  a.default {
    color: $lt-grey;

    :hover {
      color: $green;
    }
  }

  a.btn-edit {
    color: white;
  }

  a.btn-edit:hover {
    color: white;
  }
}

$tile-height : 250px;

.tile {
  box-shadow: 5px 5px 20px rgba(255,255,255,.3);
  height: $tile-height;
}

.tile-active {
  box-shadow: 5px 5px 20px rgba(255,255,255,.5);
}

#cover-letter-default-btn-group {
  display: block;
}

.admin-content {
  .panel {
    .panel-heading {
      h1 {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }
  }
}

.transparent-panel {
  background: rgba(0,0,0,.3);
  a {
    color: white;
  }
  a:hover {
    color: $lt-red;
  }
}

.job-seeker-home {
  .panel {
    .panel-heading {
      h1 {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.5em;
      }
    }
  }
}

.job-posting-stat-wrapper {

  text-align: center;

  > div {
    margin: 10px 0px 10px 0px;
  }

  h2 {
    margin: 0;
  }

  .job-posting-stat {
    font-size: 3em;
    font-weight: 600;
    color: $green;
  }

  .job-posting-stat-tile {
    border-right: 1px solid $lt-grey;
  }

  div:last-child .job-posting-stat-tile {
    border-right: none;
  }
}

@media (max-width: $screen-xs-max) {
  .job-posting-stat-wrapper {
    .job-posting-stat-tile {
      border-right: none;
      border-bottom: 1px solid $lt-grey
    }

    div:last-child .job-posting-stat-tile {
      border-bottom: none;
    }
  }
}

.job-posting-company {
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.job-posting-position {
  text-align: center;
  font-size: 1em;
  margin: 5px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey;
}