/* General Use */

$default-background : linear-gradient(to bottom, rgba(13,156,204,1) 0%,rgba(12,227,217,1) 75%,rgba(13,156,204,1) 100%);

$footer-height : 40px;

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  font-family: $font-family;
}

section {
  padding: 10px 0px 10px 20px;
}

#main-user-menu {

  .dropdown-menu a {
    color: $offwhite;
  }

  .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
}

#main-site-container {
  min-height: 100%;
  position: relative;
  padding: 0px 0px $footer-height 0px;
}

#site-footer {
  height: $footer-height;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  text-align: center;

  a {
    line-height: $footer-height;
    padding: 0px 10px 0px 10px;
    color:$offwhite;
  }

  a:hover {
    color:white;
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-container {
  @extend .absolute-center;
  color: $offwhite;
  max-width: 750px;
  .text-muted {
    color: $offwhite;
  }
}

.alert h2 {
  margin-top: 0px;
}

.center-container {
  max-width: 750px;
}

.default-background {
  background-image: $default-background;
}

.loading-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: loadingStart 1s 100ms linear 1 both;
  background: rgba(255,255,255,0.5);


  .loading-spinner {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 16px solid $lt-grey; /* Light grey */
    border-top: 16px solid $blue; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.home-background-logo {
  background-image: url("/img/Blip-Logo-big.png"), $default-background;
  background-repeat:no-repeat;
  background-position:-550px 200px, left top;
  background-attachment: fixed;
}

.margin-bottom {
  margin-bottom: 10px;
}

@media (max-width: $screen-xs-max) {

  .absolute-center-container {
    width: 80%;
  }

  .home-background-logo {
    background-image: $default-background;
    background-position: left top;
  }

  .logo {
    padding-left: 5px;
  }

  .xs-center {
    text-align: center;
  }

  .xs-margin-bottom {
    margin-bottom: 5px;
  }
}